{
    "htmlWhitespaceSensitivity": "ignore",
    "formatOnSave": "true",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "trailingComma": "all",
                "tabWidth": 4,
                "semi": true,
                "singleQuote": true
            }
        },
        {
            "files": "*.pug",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
