// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.file {
  visibility: hidden;
  position: absolute;
}

.btn-circle.btn-md { 
  width: 25px; 
  height: 25px; 
  padding: 7px 7px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center; 
}

