// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
/* @import '~bootstrap/scss/bootstrap'; */

.file {
  visibility: hidden;
  position: absolute;
}

.btn-circle.btn-md { 
  width: 25px; 
  height: 25px; 
  border-radius: 25px; 
  font-size: 15px;
  position: relative;

  & > i {
    
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 4px;
  
  }
}



/* Loading animation for Ajax requests*/
.loading {
  font-size: 0;
  display: inline-block;
  border: 2px solid $blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotate 1.4s ease 0.5s infinite;
  background-color: transparent;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}

%loading-result {
  position: relative;
  animation: bounce .3s ease-in;
  border: 2px solid $blue;
  
  &::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 50%;
    margin-left: -7.5px;
  }
}

@mixin loading-result-icon($url) {
  background: url($url) no-repeat; 
}

.success, .not-found {
  @extend %loading-result;
}

.success:before {
  @include loading-result-icon('../fonts/tick.svg');
}

.not-found:before {
  @include loading-result-icon('../fonts/close.svg');
  width: 13px;
  height: 13px;
  top: 3px;
  margin-left: -6.5px;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
}


/**FORMS*/
.title-subline:after {
  display: block;
  height: 1px;
  background-color: $blue;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

